/*Style for Nav*/
/*
.navbar {
	color: #fff;
	background-color: #fff;
	padding: 0;
}

.navbar-brand {
	background-color: #4aaaa5;
	padding: 10px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman;
	margin-left: 50px;
}

.nav-link {
	color: #666;
	font-size: 10px;
}

body {
	background-image: url("../images/concrete-texture.png");
}
*/